body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.search-container {
    text-align: center;
    margin: 20px;
}

#busSearch {
    padding: 10px;
    font-size: 16px;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#busGraph {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.details-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actions-container {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #217dbb;
}
