body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('E-Matatu project/images/Matatus_Catalyst.webp') center/cover no-repeat #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #76d473c2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5093c0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.login-link {
    margin-top: 15px;
    text-align: center;
}

.login-link a {
    color: #3498db;
    text-decoration: none;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}
